---
import FooterButton from './FooterButton.astro';
import Icon from '@xtreat/astro-iconify';

const currentYear = new Date().getFullYear();

const links = [
  { href: '/about-me/', text: 'About me', icon: 'game-icons:astronaut-helmet' },
  { href: '/about-website/', text: 'About website', icon: 'game-icons:computing' },
  { href: '/support-me/', text: 'Support me', icon: 'game-icons:cherish' },
];

const linksRight = [
  { href: '/rss.xml', text: 'RSS', icon: 'bx:rss' },
  { href: '/sitemap-0.xml', text: 'Sitemap', icon: 'solar:documents-minimalistic-bold-duotone' },
];
---

<footer class='mb-10vh'>
  <span class='divider mt-16 mb-6 py-14'>
    <div style='transform: rotate(45deg)'>
      <Icon id='rotating-icon' icon='game-icons:abstract-050' class='text-primary mx-6 h-16 w-16' />
    </div>
  </span>
  <div class='flex flex-col lg:flex-row justify-between items-center select-none gap-10px mb-20'>
    <nav class='flex flex-wrap gap-8 p-4 item justify-center'>
      {
        links.map(({ href, text, icon }) => (
          <FooterButton href={href}>
            <Icon icon={icon} class='h-10 w-10 mx-auto' />
            <p>{text}</p>
          </FooterButton>
        ))
      }
    </nav>

    <nav class='flex flex-wrap gap-8 p-4 item justify-center'>
      {
        linksRight.map(({ href, text, icon }) => (
          <FooterButton href={href} class=''>
            <Icon icon={icon} class='h-10 w-10 mx-auto' />
            <>{text}</>
          </FooterButton>
        ))
      }
    </nav>
  </div>
  <div class='flex justify-center lg:justify-end mb-20'>
    <div class='p-4 self-center lg:self-end'>Copyright © {currentYear} - All rights reserved</div>
  </div>
</footer>
