---
import PageSpeedRadial from './StatsLighthouseRadial.astro';
import { scrapePageSpeedResults } from '@scripts/pagespeed-scraper.js';
import Icon from '@xtreat/astro-iconify';

const isProduction = import.meta.env.PRODUCTION_BUILD;

const randomScore = () => Math.floor(Math.random() * (100 - 70 + 1)) + 70;

let report = {
  performance: randomScore(),
  accessibility: randomScore(),
  practices: randomScore(),
  seo: randomScore(),
  finalUrl: '',
};

const descriptions = {
  performance:
    'This score reflects how well webpage performs in terms of speed and optimization. It is calculated based on key metrics like First Contentful Paint (FCP), Largest Contentful Paint (LCP), and Cumulative Layout Shift (CLS) among others, which measure loading times and responsiveness.',
  accessibility:
    'This metric evaluates how accessible web content is for users with disabilities. It considers factors such as text readability, color contrast, and the presence of alternative text for images, ensuring that all users can navigate and understand your site effectively.',
  bestPractices:
    'This score indicates adherence to web development best practices. It assesses the use of modern technologies, secure connections, optimized code, and proper use of meta tags. Higher scores suggest better compliance with industry standards.',
  seo: 'Search Engine Optimization. This category measures how well webpage is optimized for search engines. It includes aspects like metadata usage, structured data implementation, and mobile-friendliness. A high SEO score indicates effective strategies to enhance visibility in search engine results',
};

if (isProduction) {
  const site = Astro.site?.href || '';
  const pageSpeedResults = await scrapePageSpeedResults(site);

  if (pageSpeedResults) {
    report.performance = pageSpeedResults.performance || 0;
    report.accessibility = pageSpeedResults.accessibility || 0;
    report.practices = pageSpeedResults.practices || 0;
    report.seo = pageSpeedResults.seo || 0;
    report.finalUrl = pageSpeedResults.finalUrl || '';
  }
}
---

<div class='border rounded-2xl flex-1 p-4 select-none'>
  <div class='flex items-center justify-between text-base-content mb-8'>
    <div class='flex items-center gap-2 xs:text-xl md:text-3xl text-xl font-bold'>
      <Icon icon='simple-icons:pagespeedinsights' class='inline-block w-14 h-14 m-2' />
      <span class='hidden md:block'>Google PageSpeed Insights</span>
      <span class='block md:hidden'>PageSpeed Insights</span>
    </div>
    <a
      href={report.finalUrl}
      class='hover:text-primary'
      target='_blank'
      title='Go and check by yourself, you doubter! 😂'
    >
      <Icon icon='octicon:link-external-16' class='inline-block w-8 h-8 m-2' />
    </a>
  </div>

  <div class='grid grid-cols-2 sm:grid-cols-4 gap-4 @container'>
    <PageSpeedRadial
      category='Performance'
      score={report.performance}
      tooltip={descriptions.performance}
      ariaLabel={`Radial progress bar showing ${report.performance} score of Performance`}
    />
    <PageSpeedRadial
      category='Accessibility'
      score={report.accessibility}
      tooltip={descriptions.accessibility}
      ariaLabel={`Radial progress bar showing ${report.accessibility} score of Accessibility`}
    />
    <PageSpeedRadial
      category='Best Practices'
      score={report.practices}
      tooltip={descriptions.bestPractices}
      ariaLabel={`Radial progress bar showing ${report.practices} score of Best Practices`}
    />
    <PageSpeedRadial
      category='SEO'
      score={report.seo}
      tooltip={descriptions.seo}
      ariaLabel={`Radial progress bar showing ${report.seo} score of SEO`}
    />
  </div>
</div>
