---
const isProduction = import.meta.env.PRODUCTION;

const { category, score, ariaLabel, tooltip } = Astro.props as {
  category: string;
  score: number;
  ariaLabel?: string;
  tooltip?: string;
};
const background =
  score >= 100
    ? 'bg-success'
    : score >= 90
      ? 'bg-info'
      : score >= 80
        ? 'bg-warning'
        : score >= 1
          ? 'bg-error'
          : 'bg-base-content';

const normalizeNumber = (num: number) => (num % 1 === 0 ? num : parseFloat(num.toFixed(1)));
---

<div class='flex flex-col gap-2 items-center justify-center aspect-square'>
  <div
    class={`radial-progress text-base-content ${background} border-0 [--size:30cqi] sm:[--size:6rem] `}
    style=`--value:${score};`
    title={tooltip}
    aria-valuenow={score}
    aria-label={ariaLabel}
    role='progressbar'
  >
    <span class='text-base-100 text-3xl -mt-1'>
      {score && isProduction ? normalizeNumber(score) : score}
    </span>
  </div>
  <div class='text-nowrap'>{category}</div>
</div>
