---
import type { CollectionEntry } from 'astro:content';
import Footer from '../components/Footer.astro';
import Head from '../components/Head.astro';
import Header from '../components/Header.astro';
import MainProse from '../components/MainProse.astro';
import ThemeSwitcher from '../components/ThemeSwitcher.astro';
import ThemeWrapper from '../components/ThemeWrapper.astro';
import { readableDate } from '../scripts/utils.ts';

type Props = CollectionEntry<'articles'>['data'];

const { title, description, created, updated, author } = Astro.props;
---

<ThemeWrapper>
  <Head title={title} description={description} />
  <body>
    <Header />
    <MainProse>
      <article>
        <h1>
          {title}
        </h1>
        <p class='rounded text-normal bg-primary text-base-100 font-bold p-2 border-rd-1 w-fit'>
          <span>Created on {readableDate(created)}</span>
          {updated && <></>}
        </p>
        <!-- {author && <span>by {author}</span>} -->
      </article>
      <slot />
    </MainProse>
  </body>
  <ThemeSwitcher />
  <Footer />
</ThemeWrapper>
