---
import type { CollectionEntry } from 'astro:content';

import ArticleDetails from '@components/ArticleDetails.astro';
import ArticleSchema from '@components/ArticleSchema.astro';
import Footer from '@components/Footer.astro';
import Head from '@components/Head.astro';
import Header from '@components/Header.astro';
import Main from '@components/Main.astro';
import ThemeSwitcher from '@components/ThemeSwitcher.astro';
import ThemeWrapper from '@components/ThemeWrapper.astro';

interface Props {
  entry: CollectionEntry<'articles'>;
}

const { entry } = Astro.props;

const { title, description, created, updated, author, tags, image } = entry.data;
---

<!doctype html>
<html lang='en'>
  <Head title={title} description={description} />
  <ArticleSchema entry={entry} />
  <body class='m-0 p-0'>
    <div class='max-w-5xl mx-auto p-2.5'>
      <ThemeWrapper>
        <Header />
        <Main>
          <ThemeSwitcher />
          <ArticleDetails title={title} created={created} updated={updated} author={author} tags={tags} image={image} />
          <slot />
        </Main>
        <Footer />
      </ThemeWrapper>
    </div>
  </body>
</html>
