---
import type { CollectionEntry } from 'astro:content';

import ArticleDetails from '@components/ArticleDetails.astro';
import Footer from '@components/Footer.astro';
import Head from '@components/Head.astro';
import Header from '@components/Header.astro';
import Main from '@/components/Main.astro';
import ThemeSwitcher from '@components/ThemeSwitcher.astro';
import ThemeWrapper from '@components/ThemeWrapper.astro';

type Props = CollectionEntry<'articles'>['data'];

const { title, description, created, updated, author }: Props = Astro.props;
---

<ThemeWrapper>
  <Head title={title} description={description} />
  <body>
    <Header />
    <Main>
      <article>
        <ArticleDetails {title} {description} {created} {updated} {author} />
        <slot />
      </article>
    </Main>
  </body>
  <ThemeSwitcher />
  <Footer />
</ThemeWrapper>
